In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [59]:
data_1 = pd.read_csv('M1S-1.csv')

In [60]:
data_1 = data_1.fillna(0)

In [61]:
data_1

,Value (Xi),Data,Frequency (fi),Cumulative freq. (fi^k),Relative freq. (fri=fi\N),Cumulative rel. freq. (fri^k)
0,X1 = 1,0.0,f1 = 0,f1^k = 0,fr1 = 0,fr1^k = 0
1,X2 = 2,7.0,f2 = 7,f2^k = 7,fr2 = 0.22,fr2^k = 0.22
2,X3 = 3,16.0,f3 = 16,f3^k = 23,fr3 = 0.50,fr3^k = 0.72
3,X4 = 4,6.0,f4 = 6,f4^k = 29,fr4 = 0.19,fr4^k = 0.91
4,X5 = 5,3.0,f5 = 3,f5^k = 32,fr5 = 0.09,fr5^k = 1
5,SUM,0.0,N = 32,0,1,0

### Plotting